@import "colors";
@import "fonts";

/*navbar brandbook */
.navbar-brand-brandbook {
    width: 200px;
    height: 53.84px;
    margin-right: 23.55rem;
  }

  .hr-brand{width: 1293px;
    border: 1px solid #454545;
    margin-top: 76px;
    margin-bottom: 76px;}
  
  .creadores img {
    width: 1.9rem;
    margin-bottom: 18.28px;
  }
  
  .creadores, h5 {
    font-family:$principal-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  
  }
  
  .creadores p {
    font-family: $principal-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $textwhite;

  }
  
  .creadores span {
    font-weight: bold;
  }
  
  .redes {
    margin-top: 7%;
  }
  
  .creadores {
    margin-left: 5%;
    margin-bottom: 3.25rem;
    margin-top: 9.3rem;
  }
  
  .design {
    margin-top: 36px;

        img{width:min-content;}
        p{font-family: $principal-font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 150%;}

  }

  
  
  .design h5 {
    font-family:$principal-font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  
  .design-p {
    width: 65rem;
    height: 165px;
    background: $graybox;
    border: 1px solid bgblack;
    border-radius: 20px;
  }
  
  .title-tech {
    margin-top: 8%;
    margin-left: 4%;
  }
  
  .box-tech{width: 280px;
    height: 165px;
    background: #181818;
    border: 1px solid #010101;
    border-radius: 20px;
  }


  
  .tech-mb {
    margin-bottom: 20%;
  }

  .typography-box{background: $graybox;
    border: 1px solid bgblack;
    border-radius: 20px;
    height: 150px;  
  }

  .typography-clash-example,.typography-clash h6 {font-family: $clashvd;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $textwhite;
}
.w-card-brand{width:405px}

.typography-clash p{font-family: $principal-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $textwhite;
}

.typography-inter-example,.typography-inter h6 {font-family: $principal-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: $textwhite;
}

.typography-inter p{font-family: $principal-font;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $textwhite;
}

.headings{height: 1680px;
  background: $graybox;
  border: 1px solid bgblack;
  border-radius: 20px;
  margin-bottom: 126px;

}

@mixin heading {font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 116px;
  color: $textwhite;
}

.heading-size-1{@include heading();
  font-size: 96px;
  }
.heading-size-2{@include heading();
  font-size: 80px;
  }
.heading-size-3{@include heading();
  font-size: 72px;
  }
.heading-size-4{@include heading();
  font-size: 64px;
  }
.heading-size-5{@include heading();
  font-size: 56px;
  }
.heading-size-6{@include heading();
  font-size: 48px;
  }
.heading-size-7{@include heading();
  font-size: 40px;
  }
.heading-size-8{@include heading();
  font-size: 40px;
  }
.heading-size-9{@include heading();
  font-size: 36px;
  }
.heading-size-10{@include heading();
  font-size: 32px;
  }
.heading-size-11{@include heading();
  font-size: 28px;
  }
.heading-size-12{@include heading();
  font-size: 24px;
  }
  .heading-size-12{@include heading();
    font-size: 20px;
    }

.paragraph{height: 500px;
  background: $graybox;
  border: 1px solid bgblack;
  border-radius: 20px;
  margin-bottom: 175px;

}

@mixin paragraph {font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $textwhite;
  margin-bottom:78px; 
}

.paragraph-size-1{@include paragraph();
  font-size: 18px;
}

.paragraph-size-2{@include paragraph();
  font-size: 16px;
}

.paragraph-size-3{@include paragraph();
  font-size: 14px;
}

.paragraph-size-4{@include paragraph();
  font-size: 12px;
}

.paragraph-size-5{@include paragraph();
  font-size: 10px;
}

.box{height: 192px;
  background: $graybox;
  border: 1px solid bgblack;
  border-radius: 20px;
  margin-bottom: 175px;
  font-size: 16px;
  font-family: $principal-font;
  font-weight: 300;
}

@mixin box-color {width: 84px;
  height: 84px;
  border-radius: 10px;
}

.box-color-1{@include box-color;
  background: $colorbtn;
  }

.box-color-2{@include box-color;
  background: #A9581E;
  }

.box-color-3{@include box-color;
  background: #010101;
  }

.box-color-4{@include box-color;
  background: #222222;
  }

.box-color-5{@include box-color;
  background: #454545;
  }

.box-color-6{@include box-color;
  background: #555555;
  }

.box-color-7{@include box-color;
  background: #D9D9D9;
  }

.box-color-8{@include box-color;
  background: $textwhite;
  }

.box-color-9{@include box-color;
  background: #9CFF83;
  }

.box-color-10{@include box-color;
  background: #54A3FF;
  }

.box-color-11{@include box-color;
  background: #FF5454;
  }

.box-color-12{@include box-color;
  background: #FFD15B;
  }

.box-color-13{@include box-color;
  background: #FAFFD1;
  }

.box-color-14{@include box-color;
  background: #A1FFCE;
  }

.box-color-15{@include box-color;
  background: linear-gradient(90deg, #A1FFCE 0%, #FAFFD1 100%);;
  }


.box-2{@extend .box;
  height: 339px;}

.box-3{@extend .box;
height: 900px;}

.box-4{@extend .box;
  height: 630px;}

  .box-5{@extend .box;
    height: 490px;}

.b-description-box{@extend .box;
height: 266px;}

.button-description{margin-top: 8%;
margin-bottom: 8%;
height: 230px}

.anatomy{@extend .box;
  height: 392px;
  width: 710px;
  margin-right: 120px;
  margin-bottom: 0;

      p{font-size: 12px;
        font-weight: 400;
        font-family: $principal-font;
        line-height: 15px;
        color: $textwhite;}

        h5{margin-bottom: 7%;}
}





.c-anatomy,.c-spacing,.c-statuses,.c-coins,.c-icons-dash,.c-flags{margin-bottom: 175px;}




.spacing{@extend .box;
height: 388px;
padding-left: 3%;
padding-top: 2%;
margin-bottom:0px ;
margin-right: 8%;

    p{font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $textwhite;}
}



.statuses{@extend .spacing;
height: 300px;
}

.coins-symbol{
  @extend .spacing;
  height:271px;
  margin-right: 15px;

    p{font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color:$textwhite;}
    
}



.c-size48 img{width:48px ;
margin-bottom: 39px;}

.c-size36 img{width:36px ;
margin-bottom: 39px;}

.c-size24 img{width:24px ;}

.c-size p{font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color:$textwhite;
}

.icons-dash{
    @extend .spacing;
    height: 396px;
    padding-top: 5% ;

      p{font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color:$textwhite}
}



  .flags{@extend .icons-dash;
    margin-right: 12%;
  }

.income{width: 346px;
  height: 135px;
  top: 2675px;
  
  background: #222222;
  border-radius: 16px;}



.income-price{font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
color:$textwhite;
}

.income-title{font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
color:#7A7A7A;
}

.income-span1{font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
color:#FF5454;
}

.income-span2{font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color:#7A7A7A;
}

.income-span3{@extend .income-span2;
color:#14C67A;
}

.box-transaction{background: #2C2C2C;
  border: 1px solid #474747;
  border-radius: 10px;
  height: 56px;
  padding-top: 12px;
  padding-left: 20px;

      p{font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color:$textwhite}

}

.th-transaction{font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: $textwhite;
  opacity: 0.7;
}

.transactions{width: 722px;
margin-bottom: 20%;
}

.h-card-2{@extend .h-card;
  height: 990px;
  width: 387px;
}

.card-body-2{margin-top:100%}

.card-buy-summary{height: 560px;
  background: #222222;
  border: 1px solid #474747;
  border-radius: 16px;
  width: 324px;
  margin-right: 65px;
 
}

.dropdown-menu{width: 280px;
background-color: transparent;
height: 100px;
border: none;
  p{font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #83868E;
  }
}

.btn.btn-buy{
background: #222222;
color: $textwhite;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-left: 12px;
border: none;
}



.hr-card{
  width: 275px;
  height: 0px;
  margin-bottom: 14px;
  margin-top: 21px;
}

.buy-btc{
  width: 270px;
  height: 39px;
}

.buy-btc:hover{color: $textwhite;
}

.btn.more-option {font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #83868E;
background: transparent;}



.card-position{height: 500px;
  width: 350px;
  background: #222222;
  border: 1px solid #474747;
  border-radius: 16px;
}


.dropdown{width:324px;}

.card-product-detail-position{@extend .card-product-detail;
border: none;
width: 310px;
}

.buy-btc-open{@extend .buy-btc;
width:141px;
margin-top:14px;
}



.buy-btc-open-sell{@extend .buy-btc-open;
  background: #454545;

}

.buy-btc-open-sell:hover{ background: #454545;
  color: $textwhite;}

.amount{width: 280px;
    height: 60px;
    background: #454545;
    border-radius: 8px;

      p{font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 5px;
        color: #83868E;
}
  
  }

.btn.btn-buy-open{@extend .btn-buy;
background: transparent;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #83868E;
}

.amountx{width: 280px;
  height: 32px;
  background: #454545;
border-radius: 8px;

  p{font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color:$textwhite;
  }

}

.send-money{
  width: 380px;
  height: 391px;
  background: #222222;
  border: 1px solid #474747;
  border-radius: 16px;



    p{font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      color:$textwhite;
      margin-top: 26px;
      margin-left: 32px;
      margin-bottom: 23px;
    }
}

.p-contact p{font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;}

.amount input{border: none;
  padding-left:5%;
 

}


.amount input::placeholder{font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #83868E;
}

.amount-send-money{@extend .amount;
width: 300px;}

.btn-send-money{width: 300px;
  height: 56px;}

.card-brand{margin-right: 0px;
  margin-left: 100px;
}

.mb-cards{margin-bottom: 4%;}