@import"colors";

.btn.border-orange{border:1px solid $colorbtn;
    background: $bgblack;

}

.border-orange:hover{
    @extend.btn;
    background-color: $colorbtn;
}

.btn:hover{border: 1px solid $colorbtn;}

.btn{background:$colorbtn;
color:$textwhite;
border-radius: 11px;}

.btn.post{border-radius: 0;
}

.btn-square{border-radius: none;}


.button-new-account {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
    width: 15%;
    margin-right: 8%;
}



.button-new-account button:hover {
    background-color: transparent;
    border-color: $colorbtn;
    border-style: solid;
}

.button-new-account button {
    width: 100%;
    height: 3rem;
    color: $textwhite;
    background-color: $colorbtn;
    border-radius: 11px;
    border-color: $colorbtn;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom: 1.8rem;
    border-style: initial;
    transition: all ease-in-out 0.2s;
}

.button-new-account p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    width: 130%;
}
