$colorbtn:#FF6D03;
$bgblack:#010101;
$textwhite:#ffffff;
$colorgray: #898989;
$colorgraydark:#222222;
$colorloss:#FF5454;
$colorprofit:#14C67A;
$bordergray:#474747;
$black:#222222;
$graybox:#181818;
$colorcarrousel:#3D3D3D