@import "fonts";

.img-gradiente {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 34.3rem;
    height: 40rem;
    position: relative;
    margin-left: 11%;
  }
  
  .h4-pl1-1 {
    font-family: $clashvd, 'Inter', sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 1.5rem;
  }
  
  .h2-pl2-1 {
    width: 100%;
    font-family: $clashvd, 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
  }
  
  .h2-pl2-1-end {
    width: 100%;
    font-family: $clashvd, 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
  }
  
  .tarjeta-1 {
    width: 80%;
    height: auto;
  }
  
  .tarjeta-2 {
    width: 90%;
    height: auto;
  }
  
  .product-list {
    margin-top: 10%;
  }
  
  .product-list p {
    color: #898989;
    line-height: 170%;
  }
  
  .product-row-mb {
    margin-bottom: 25%;
  }