* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: 'inter-regular', sans-serif;

    background:#010101;

    color:#ffffff;
    
    
}

.btn.border-orange{border:1px solid #FF6D03;
    background: #010101;
}

.btn.border-orange:hover{
    background-color: #FF6D03;
}

.btn:hover{border: 1px solid #FF6D03;}

button, .btn{background:#FF6D03;
color:#ffffff}



/* home styles */




a:link{text-decoration: none;
    color:currentColor;
}

a:visited {
    color:inherit;
    text-decoration:none; 
    text-decoration-color: currentColor;
}

.img-rrss{width:5rem}


.display-2{font-family: 'Clash Display Variable';
    font-weight: 500;
    margin-top: 10%;
}










.table-volume{
    background-color: #222222;
    border-radius: 1.25rem;
    border-collapse: collapse;
    border: 1px solid #474747;

}
.currency-table{width:100%;
margin-top:1rem}

.table-volume th:first-child{text-align: left;}

.thead{font-weight: 500;
    font-size: 1.1rem;
    line-height: 1%;
font-family: 'inter';
}

.padding-text-table{text-align: left;}

.img-coin{width: 24;
    height: 1.5rem;
    padding-right: 1rem;
}

th,td{
    padding-top: 2.5%;
    text-align: center;
    display:table-cell;
    
}



.percentage-profit{color: #14C67A;
}

.percentage-loss{color:#FF5454;
}

.subtitle{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    padding-bottom: 8%;

}

.subtitle h2{margin-left: 3%;
    font-family:'Clash Display Variable';
    font-weight: 500;
    font-size: 3rem;
    line-height: 110%;
    width: 35%;
}

.subtitle p{width: 50%;
    height: 35%;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color:#898989
}

.subtitle-p-flex{display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: flex-start;
    margin-right: 2%;
    width: 50%;
}

.subtitle-p-flex span{padding-top: 2%;
    padding-right: 33.5%;
    font-weight: 900;
    font-size: 1rem;
    width: 50%;
}








ul{list-style-type: none;}

.li-light{font-weight: 100;
    color: #898989;
    padding-top: 0.4rem;
}


.head-list{font-weight: bold;
}

.download img{padding-top: 5%;}

.watermark{text-align: center;
    padding-bottom: 10%;
    width: 100%;
    height: 2rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #898989;

}

.section-cards{margin-bottom: 15%;}


.card{
    background: #222222;
    border: 1px solid #474747;
    border-radius: 1rem;
}

.container-table{margin-top: 10rem;
  margin-bottom: 15rem;
}

.container-h1{margin-bottom: 10rem;}

.card-div1{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
    padding-bottom: 2%;
    padding-top: 5%;
}

.inverstor-margin-top{margin-top: 20%;}

.img-coin{width:4rem;
    height: 2.8rem;

}

.coin{font-weight: 500;
    font-family:'clash Display Variable';
    font-size: 18px;}


.p-coin{font-weight: 500;
    font-size: 1.2rem;
    line-height: 0.8rem;
    width: 2%;
    height: 1.8rem;
    color: #ffffff;
}


.img-card{width: 12rem;
}

.card{padding: 0;}

.img-card-volume{width: 100%;
}

.img-no-padding{padding: 0;}

.card-title{font-family: 'Clash Display Variable';
font-weight: 500;}

hr{width: 90%;
    border: 1px solid #898989;
    align-self: stretch;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
}

.info-card span{color: #14C67A;}

.card-table{width: 3rem;
    height: 3.8rem;
    border-radius: 0.6rem;
    border-collapse: collapse;
    margin-left: -2%;
    margin-right:5%;
    margin-bottom: 3%;
}

.card-table td,th{padding-right: 1.5rem;
    padding-left: 1rem;
    text-align: center;
    
}
.card-table td:first-child {
    text-align: left;
    width:100%;
    height: 2rem;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
}

.card-color-sell{color:#FF5454
}

.card-color-buy{color: #38F808;
}

.cards-row-1{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
    margin-bottom: 2rem;    
}

.cards-row-2{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: stretch;
}

.exchanges{margin-left: 6%;
    width:100%;
    
}


.exchanges h3{margin-bottom: 5%;
    text-align: center;
    font-weight: 500;
    font-family: 'Clash Display Variable';
}

.exchanges img{width: 100%;
    height: 2rem;
}

.flex-logo-ex-1{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
    margin-bottom:5% ;
}

.flex-logo-ex-2{display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    margin-bottom:15% ;
}

.investors h3{margin-bottom: 5%;
    text-align: center;
    font-weight: 500;
    font-family: 'Clash Display Variable';
    margin-left: 6%; 
    width: 100%;   
}


.data-investors-p1{font-weight: 500;
    font-size: 5rem;
    line-height: 100%;
    font-family: 'Clash Display Variable';
    color: #ffffff;
}

.data-investors-p2{
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #898989;
}

.coin-carrousel{margin-top: 8rem;
    background: #3D3D3D;

}
.coin-carrousel img{width: 100%;
}

.new-account{margin-bottom: 10%;
    background: #222222;
}

.new-account h2{width:60%;
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;



}

.new-account p{
    font-weight: 400;
    font-size: 1.2rem;

}
.new-account-p1{margin-left: 6%;}

.button-new-account{display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
    width:15%;
    margin-right: 8%;
    
}
.button-new-account button:hover {
    background-color: transparent;
    border-color:#FF6D03;
    border-style:solid;
}

.button-new-account button{width: 100%;
    height: 3rem;
    color: #ffffff;
    background-color: #FF6D03;
    border-radius: 11px;
    border-color:#FF6D03;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8rem;
    margin-bottom:1.8rem ;
    border-style: initial;
    transition: all ease-in-out 0.2s;
}

.button-new-account p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    width: 130%;
    
}

/* contact styles */

.contact-form-margin{margin-top: 18%;}

.form-control::placeholder{color:#474747;
    
}

.form-control{background-color: #222222;
    border: 1px solid #474747;
}

.form-control:focus{outline: none;
background-color: #222222;
}

/* estilos product list con el texto a la derecha */


.img-gradiente{grid-column:1/2 ;
    grid-row: 1/2;
    width: 34.3rem;
    height: 40rem;
    position: relative;
    margin-left: 11%;
    
}







.h4-pl1-1{font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight:lighter ;
    font-size: 1.5rem;

}

.h2-pl2-1{width: 60%;
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
}

.h2-pl2-1-end{width: 100%;
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;

}

.paragraph {
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #898989;
}

.button-pl{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}

.button-watch-videos{width: 8.2rem;
    height: 2.8rem;
    color: #ffffff;
    background-color: transparent;
    border-radius: 11px;
    border-color:#FF6D03;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.6rem;
    border:1px solid #FF6D03
    
}

.button-watch-videos:hover{background-color: #FF6D03;
}
/*  fin estilos product list con el texto a la derecha */


/*estilo lista de productos con texto a la izquierda */

.grid-container2{display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto ;   
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 4%;
    column-gap: 6rem;
}


.img-gradiente2{grid-column:2 / 3 ;
    grid-row: 1/2;
    width: 34.3rem;
    height: 40rem;
    position: relative;
    margin-right: 2%;
}

.img-gradiente2 img{width: 100%;
}

.gradiente-der, .tarjeta-der {
    position: absolute;
    top: 5rem;
    left: -0.8rem;
}
.gradiente-der {z-index: 1;
grid-column:2 / span 1;
}

.tarjeta-der {z-index: 2;
    grid-column:2 / span 1;
}

.description2{grid-column: 1 / 2;
    grid-row:1 / 4;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:flex-end;
	align-content: center;
    z-index: 1;
    text-align: end;
}

.paragraph {width: 100%;
    height: 20%;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #898989;
}

.button-pl{display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;}


.tarjeta-1{width: 80%;
height: auto;}

.tarjeta-2{width: 90%;
height: auto;}

.product-list{margin-top: 10%;}

.product-row-mb{margin-bottom: 25%;}
/* fin estilo lista de productos con texto a la izquierda */

/* Product Detail styles */

.h2-product-detail{width: 100%;
    height: 7rem;
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height:120%;
margin-left: 6%;
margin-top: 10%;
}

.h2-product-detail-center{width: 100%;
    height: 5rem;
    font-family: 'Clash Display Variable';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height:120%;
margin-top: 10%;
text-align: center;
margin-left: 4%;
}
.card-product-detail{width: 19rem;
    height: 4.5rem;
    background: #222222;
    border: 1px solid #474747;
    border-radius: 1rem;
}

.logo-card-detail{width: 2rem;
margin-left: 0.5rem;
}

.img-card-product-detail{width: 6rem;
}

.p-coin-detail-white{color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    line-height: 0.8rem;
    width: 1%;
    height: 1rem;}


.p-product-detail{width: 100%;
    height: 18rem;
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 150%;
    color: #898989;
    margin-left:6%;
    margin-top: 7%;
}

br{margin-bottom: 2%;
}


.cards-c-detail{width:100%;
    justify-content: center;
    margin: 5%;
    height: 3rem;
}

.p-text-center{text-align: center;
    margin-left: 6%;
}

.chart{width: 100%;
}
.chart-group{width: 98%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
    margin-left: 6%}

.view-all-market{width: 20rem;
    height: 2rem;
    color: #ffffff;
    background-color: #FF6D03;
    border-color:#FF6D03;
    font-weight: 500;
    border-radius: 0.68rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 2%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    border-style: initial;}

.view-all-market:hover{background-color: transparent;
    border-color:#FF6D03;
    border-style:solid;}

/* tutorial styles */

.h2-tutorials{width:55rem;
    height: 3.3rem;
font-size: 3rem;
font-weight: 500;
font-family: 'Clash Display Variable';
line-height: 3.6rem;
position: absolute;
left: 5rem;
top: 12.75rem;
z-index: 1;
}

.grid-container-tutorial{display: grid;
    width:90vw;
    grid-template-columns: 24rem 24rem 24rem;
    grid-template-rows: 13.3rem 15rem 5rem 13.3rem 15rem;
    margin-top: 20%;
    column-gap: 2rem;
    margin-left: 5rem;
    align-items: start;
    z-index: 1;
}



.video1{grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.texto1{grid-column: 1 / 2;
grid-row: 2 / 3;
}

.texto2{grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.texto3{grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.texto4{grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.texto5{grid-column: 2 / 3;
    grid-row: 5 / 6;

}

.texto6{grid-column: 3 / 4;
    grid-row: 5 / 6;
}

h5{font-size: 1rem;
font-family: 'inter';
font-weight: 400;
color:#ffffff;
line-height: 1.5rem;
letter-spacing: 0.05rem;
margin-top: 1.20rem;
margin-bottom: 0.9rem;
}

h6{font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.8rem;
    letter-spacing: 0.02rem;
    margin-bottom: 2rem;
}



p{font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.rem;
    letter-spacing: 0.02rem;
    color: #898989;
    margin-bottom: 0.7rem;
}

.grid-container-tutorial span{width: 8rem;
    height: 1.1rem;  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1rem;
    letter-spacing: 0.02rem;
    color: #FF6D03;
    transition: all ease-in-out 0.2s
    }

.grid-container-tutorial span:hover{-webkit-text-stroke: 0.8px #FF6D03;
    color:#ffffff;}


.tutorial-flex p{display:block}

.tutorial-flex {display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    }

.video2{grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.video3{grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.video4{grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.video5{grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.video6{grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.video-principal{width:90vw;
    height: 80vh;
    margin-left: 5.5%;
    margin-top: 20%;
    border-radius: 0.8rem;
}

.video-tutorial-playmore {width:100%;
    height: 90%;
}

.video-tutorial-playmore iframe{width: 100%;
height: 100%;
border-radius: 0.8rem;
}

.texto1-videopage{margin-left: 5.5%;
    margin-top: -5%;}

.comment-form-tutorials{width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
    border-radius: 21px;
    margin-bottom: 1.6rem;

}




.comment-form-tutorials input{ color:#898989;
    font-size: 1.1rem;
    padding-left: 1.9rem;
    width: 100%;
    height:4rem;
    background: #222222;
    font-size: 1rem;
    border: 1px solid #222222;
    outline: none;

}
#title{margin-bottom: 0;
    background-color: transparent;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom: transparent;

}
    
    
#comment{height:5rem;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-top: transparent;
    grid-column: 1 / 3;
    grid-row: 1/2;
    
}

.grid-comment{display: grid;
    grid-template-columns: 80vw 10vw;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;}

.post{width: 5rem;
    height: 2rem;
    color: #ffffff;
    background-color: #FF6D03;
    border-color:#FF6D03;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 15%;
    margin-top: 15%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    border-style: initial;
    grid-column: 2/3;
    grid-row: 1/2;
}

.post:hover {
    background-color: transparent;
    border-color:#FF6D03;
    border-style:solid;
}

.comment-form{width: 90vw;
    margin-left: 5%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;}


.table-comment{width: 100%;
    height: 100%;
margin-left: 5%;
background-color: #222222;
border-radius: 1.25rem;
margin-top: 2rem;
}

.detail-comment{width: 96%;
height: 50%;
border-radius: 1.25rem;
border-collapse: collapse;
margin: 2%;
}

.detail-comment td{width: 25%;
text-align: left;
padding-left: 5%;
padding-bottom: 2%;
border-bottom:1px solid #010101 ;}

.detail-comment td:first-child{width: 8%;
    text-align: center;
    padding-right: 10rem;
    border-right:1px solid #010101 ;
}

.detail-comment td:last-child{width: 5%;
padding-left: 5rem;
}

.last-comment td{border-bottom: none;}


.load-more-comment{width: 34.68rem;
    height: 2rem;
    color: #ffffff;
    background-color: #FF6D03;
    border-color:#FF6D03;
    font-weight: 500;
    border-radius: 0.68rem;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 2%;
    margin-bottom: 15%;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    border-style: initial;}

.load-more-comment:hover{background-color: transparent;
    border-color:#FF6D03;
    border-style:solid;}

.comment-flex{margin-left: 2.5%;
    width: 90vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-end;
}



/*media query*/

@media screen and (min-width: 300px) and (max-width:768px){


.mobile-no{display: none;
;}


.data-investors-p1{font-size: 4rem;
}
.data-investors-p2{margin-bottom: 15%;}


/*contact media query*/

.contact-form-margin{margin-right: 15px;}

form{color:#ffffff}

/*home media query*/

.h1-home-mobile{margin-left: 10px;}

.wallet-mobile{margin-left: 10px;}



/*product list media query */

.grid-container1{display: grid;
    grid-template-columns: 27.5rem;
    grid-template-rows: 25rem 25rem ;   
justify-content: center;
align-items: center;
margin-top: 8%;
margin-left: 8%;
column-gap: 6rem;
}

.grid-container1{grid-template-columns:27.5rem ;
grid-template-rows: 25rem 33.25rem;}

.img-gradiente{grid-column: 1 / 2;
grid-row: 2/3;
width: 85%;
margin-left: -3%;
}
.description{grid-column: 1 / 2;
grid-row: 1 / 2;
}

.h2-pl1-1{height: 1rem;
    font-size: 1.5rem;
}

.grid-container2{display: grid;
    grid-template-columns: 27.5rem;
    grid-template-rows: 25rem 25rem ;   
justify-content: center;
align-items: center;
margin-top:-5% ;
margin-left: 8%;
column-gap: 6rem;
}

.grid-container2{grid-template-columns:27.5rem ;
grid-template-rows: 25rem 33.25rem;}

.img-gradiente2{grid-column: 1 / 2;
grid-row: 2/3;
width: 85%;
margin-left: -3%;
}
.description2{grid-column: 1 / 2;
grid-row: 1 / 2;
display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items:flex-start;
	align-content: center;
    z-index: 1;
    text-align: start;
}





/*product list media query end */

.tarjeta-1{width: 20rem;
height:25rem;
}
.description-product-list{margin-bottom: 10%;
;}

.h2-pl2-1{font-size: 1.79rem;}

.h2-pl2-1-end{font-size: 1.79rem;}


/*table media query*/

.padding-text-table span{display: none;}

.table-volume{width:95%;
margin-left:10px;}

}
